﻿
<div class="text-center header"></div>
<div ng-controller="TableReserveController">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <button class="button prev">Previous</button>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="dt"
                           is-open="datePickerOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="selectedMeal"
                        ng-options="item.mealName for item in meals"></select>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <button class="button next pull-right">Next</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><button class="btn btn-default"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Save</button>&nbsp;<button class="btn btn-default">Undo</button>&nbsp;<button class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center"><h3>Table Reservation</h3></div>
        </div>
    </div>
    <div class="container" tablegrid celltemplate="cellTemplate1">

    </div>
</div>
<script type="text/template" id="tableGridTemplate">
    <div ng-repeat="row in tableGrid.dataSource.rows" class="row">
        <div ng-repeat="cell in row.tables" class="col-sm-2">
            <div ng-click="openCustomerModal(cell)" data-row="{{$parent.$index}}" data-col="{{$index}}" class="tableCell" ng-class="{reserved: cell.customer != null && cell.customer != undefined}" draggable droppable>
                Table {{cell.tblNo}}<br />
                <span ng-if="cell.customer != null && cell.customer != undefined">{{cell.customer.name}}</span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="customerModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Customer</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="customer_name">Name:</label>
            <input type="text" class="form-control" ng-model="customer.name" id="customer_name">
        </div>
        <div class="form-group">
            <label for="customer_phone">Phone:</label>
            <input type="text" class="form-control" ng-model="customer.phone" id="customer_phone">
        </div>
        <div class="form-group">
            <label for="customer_email">Email:</label>
            <input type="email" class="form-control" ng-model="customer.email" id="customer_email">
        </div>
        <div class="form-group">
            <label for="customer_address">Address:</label>
            <input type="text" class="form-control" id="customer_address" ng-model="customer.address">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>